XML/configFile.rng

<!--
  SMERP configuration file
  Relax-NG definition
-->

<element name="configuration"	xmlns="http://relaxng.org/ns/structure/1.0"
				datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<element name="server">
		<optional>
			<group>
			</group>
		</optional>

		<element name="listen">
			<element name="host">
			<zeroOrMore>
				<element name="host">
					<text/>
				</element>
				<optional>
					<element name="port">
						<data type="unsigned short"/>
					</element>
				</optional>
			</zeroOrMore>
		</element>
	</element>

	<element name="database">
		<optional>
			<element name="host">
				<text/>
			</element>
			<optional>
				<element name="port">
					<data type="unsigned short"/>
				</element>
			</optional>
		</optional>

		<optional>
			<element name="name">
				<text/>
			</element>
		</optional>

		<optional>
			<element name="user">
				<text/>
			</element>

			<optional>
				<element name="password">
					<text/>
			</element>
			</optional>
		</optional>
	</element>

	<element name="logging">
	</element>

</element>

